<ion-view title="Candidates_new" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="candidates_new-form6" class="list">
      <label class="item item-select" id="candidates_new-select1">
        <span class="input-label">Matched for</span>
        <select>
          <option>lunch</option>
          <option>coffee</option>
        </select>
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" id="candidates_new-slider6" style="width:100%;height:200px;">
      <ion-slide-page id="candidates_new-slide24" style="background:url(img/ptUEtnYJRFanoqzr1zPQ_Lucian.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="candidates_new-slide25" style="background:url(img/BKzA6LpsSXSgYlVgIIDG_Till.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="candidates_new-slide26" style="background:url(img/l7D2RaHSQzSTFQVclJQv_Morten.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="candidates_new-slide27" style="background:url(img/qO2KCuR0iiJGpD3OFcYw_Bene.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="candidates_new-slide28" style="background:url(img/P78dXDPUQj3FCVMf7E5N_Edina1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <a ui-sref="mortan" id="candidates_new-button16" class="button button-positive  button-block">Tap me!</a>
  </ion-content>
</ion-view>