<ion-view title="Find me now" id="page10">
  <ion-content padding="true" class="has-header">
    <div id="findMeNow-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Take a selfie to be located for each other.</p>
    </div>
    <div id="findMeNow-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2 min left...</p>
    </div>
    <div>
      <img src="img/GmOCZgtQ18pYXZH2dkwU_IMG_5370.JPG" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/bi9afYdsRWBXdm7UEXTT_IMG_5371.JPG" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>