<ion-view title="Just 2!" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="just2-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2 minutes!</p>
    </div>
    <div id="just2-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2 choices!</p>
    </div>
    <div id="just2-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2 lovely hearts!</p>
    </div>
    <div id="just2-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">meet or regret!</p>
    </div>
    <div>
      <img src="img/NfTjItZ2TAWjICYXd9sN_logo.png" style="display: block; width: 67%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="just2-button-bar2" class="button-bar">
      <a ui-sref="settings" id="just2-button12" class="button button-light  button-block icon ion-ios-settings-strong">1</a>
      <a ui-sref="iMInTheMoodFor" id="just2-button13" class="button button-light  button-block icon ion-android-add-circle">2</a>
      <a ui-sref="candidates" id="just2-button14" class="button button-light  button-block icon ion-android-people">3</a>
    </div>
  </ion-content>
</ion-view>