<ion-view title="Mortan" id="page7">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EXA0QY0NQWyXP4YLNWl3_test1.jpg" style="display:block;width:100%;height:auto;">
    </div>
    <ion-list id="mortan-list4">
      <ion-item id="mortan-list-item12">Matched for: lunch, ...</ion-item>
      <ion-item id="mortan-list-item14">Age Group: 25-35</ion-item>
      <ion-item id="mortan-list-item15">Occupation: SW developer</ion-item>
      <ion-item id="mortan-list-item16">Vegetarian: no</ion-item>
      <ion-item id="mortan-list-item17">Acolhol: yes</ion-item>
    </ion-list>
    <div id="mortan-button-bar3" class="button-bar">
      <button id="mortan-button20" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block icon ion-chatbubbles">1</button>
      <button id="mortan-button21" class="button button-positive  button-block icon ion-android-camera">2</button>
    </div>
  </ion-content>
</ion-view>