<ion-view title="My Profile" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/KQ6ipdtURM5qZ132bs2k_image154.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="myProfile-list1">
      <ion-item id="myProfile-list-item6">Name
        <span class="item-note">Maggie</span>
      </ion-item>
      <ion-item id="myProfile-list-item7">Age Group
        <span class="item-note">25-35</span>
      </ion-item>
      <ion-item id="myProfile-list-item9">Occupation
        <span class="item-note">Boss</span>
      </ion-item>
      <ion-item id="myProfile-list-item10">Vegetarian
        <span class="item-note">No</span>
      </ion-item>
      <ion-item id="myProfile-list-item13">Acolhol
        <span class="item-note">Yes</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>