<ion-view title="Settings" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="settings-form2" class="list">
      <ion-checkbox id="settings-checkbox3">Active</ion-checkbox>
      <ion-item class="item-icon-left" id="settings-list-item5" ui-sref="myProfile">
        <i class="icon ion-android-person"></i>My Profile</ion-item>
      <ion-item class="item-icon-left" id="settings-list-item27" ui-sref="peopleToMeet">
        <i class="icon ion-android-people"></i>People to meet</ion-item>
    </form>
  </ion-content>
</ion-view>